{% block footer %}
<footer class="bg-dark sup-p">
    <div class="container flex justify-between align-items-start p-10">
        <a href="index"><span class="font-light logo">FlightAware</span></a>
        <nav class="flex flex-col justify-between align-items-start">
            <a href="/offer" class="footer-nav-item font-200">Что мы предлагаем</a>
            <a href="/work" class="footer-nav-item font-200">С кем работаем</a>
            <a href="/" class="footer-nav-item font-200">ADS-B</a>
            <a href="/" class="footer-nav-item font-200">Отслеживание полетов</a>
            <a href="/" class="footer-nav-item font-200">О нас</a>
        </nav>
        <div class="flex flex-col align-items-start justify-start">
            <div class="flex">
                <input type="text" placeholder="Оставить заявку...">
                <button class="btn font-light">Написать</button>
            </div>
            <div class="mt-2">
                <a href="/" class="soc-item"><img src="/static/img/vk.png" alt=""></a>
                <a href="/" class="soc-item"><img src="/static/img/tg.png" alt=""></a>
                <a href="/" class="soc-item"><img src="/static/img/wa.png" alt=""></a>
            </div>
            <p class="font-light">&#169;Петров Андрей</p>
        </div>
       
    </div>
</footer>
{% endblock %}