{% block navbar %}
<header class="bg-dark sup-p">
    <div class="container h-100 flex align-items-center justify-between header">
        <a href="/"><span class="font-light logo">FlightAware</span></a>
        <nav class="flex justify-between align-items-center header-nav">
            <a href="/offer" class="nav-item font-200">Что мы предлагаем</a>
            <a href="/work" class="nav-item font-200">С кем работаем</a>
            <a href="/" class="nav-item font-200">ADS-B</a>
            <a href="/" class="nav-item font-200">Отслеживание полетов</a>
            <a href="/" class="nav-item font-200">О нас</a>
            <a href="/stats" class="nav-item font-200">Статьи</a>
            <a href="/add_post" class="nav-item font-200">Добавить</a>
            <a href="/auth" class="nav-item font-200">Регистрация</a>
            <a href="/login" class="nav-item font-200">Вход</a>
        </nav>
        <div class="burger-button">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
        </div>
        <nav class="burger-menu">
            <div class="krest"></div>
            <div class="w-100 flex align-items-center justify-center flex-col">
                <a href="/offer" class="nav-item font-200">Что мы предлагаем</a>
                <a href="/work" class="nav-item font-200">С кем работаем</a>
                <a href="/" class="nav-item font-200">ADS-B</a>
                <a href="/" class="nav-item font-200">Отслеживание полетов</a>
                <a href="/" class="nav-item font-200">О нас</a>
                <a href="/stats" class="nav-item font-200">Статьи</a>
                <a href="/add_post" class="nav-item font-200">Добавить</a>
                <a href="/auth" class="nav-item font-200">Регистрация</a>
                <a href="/login" class="nav-item font-200">Вход</a>
            </div>
        </nav>
    </div>
</header>
{% endblock %}