{% extends "base.html" %}

{% block content %}
<section class="main h-full sup-p">
    <div class="container">
        <div class="h-100 flex flex-col align-items-start justify-center">
            <h1 class="font-light font-400 main-title">Идеальное решение в сфере мониторинга авиарейсов в реальном времени</h1>
            <div class="w-100 flex">
                <input type="text" placeholder="Поиск по рейсу, бортовому номеру...">
                <button class="btn"><img src="/static/img/search-icon.png" alt=""></button>
            </div>
        </div>
    </div>
</section>
<section class="about h-full sup-p">
    <div class="container flex flex-col align-items-start justify-center">
        <div class="w-40">
            <h2 class="font-light font-400">О нас</h2>
            <p class="font-light font-200">FlightAware является самой большой в мире компанией, позволяющей следить за полетами во всех сегментах авиации практически в любой части земного шара. Ее услугами и инструментами, которые включают глобальное отслеживание рейсов, предиктивные технологии, средства для проведения аналитики и принятия решений, пользуются более 10,000 авиаоператоров и сервисных компаний, а также 13,000,000 пассажиров.FlightAware получает данные через системы управления полетами, которые находятся в более чем 45 государствах, через собственную сеть наземных станций ADS-B, которая охватывает более 195 стран, через спутниковую сеть ADS-B Aireon, а также использует глобальные каналы передачи данных (спутник/VHF) таких провайдеров, как ARINC, SITA, Satcom Direct, Garmin и Honeywell GoDirect.</p>
        </div>
        <img class="bg-img" src="/static/img/about-bg.png" alt="">
    </div>
</section>
<section class="work h-full sup-p">
    <div class="container flex">
        <div class="w-60"></div>
        <div class="w-40 flex flex-col align-items-start justify-center">
            <h2 class="font-light font-400">С кем работаем</h2>
            <p class="font-light font-200">FlightAware является самой большой в мире компанией, позволяющей следить за полетами во всех сегментах авиации практически в любой части земного шара. Ее услугами и инструментами, которые включают глобальное отслеживание рейсов, предиктивные технологии, средства для проведения аналитики и принятия решений, пользуются более 10,000 авиаоператоров и сервисных компаний, а также 13,000,000 пассажиров.FlightAware получает данные через системы управления полетами, которые находятся в более чем 45 государствах, через собственную сеть наземных станций ADS-B, которая охватывает более 195 стран, через спутниковую сеть ADS-B Aireon, а также использует глобальные каналы передачи данных (спутник/VHF) таких провайдеров, как ARINC, SITA, Satcom Direct, Garmin и Honeywell GoDirect.</p>
        </div>
        <img class="bg-img" src="/static/img/work-bg.png" alt="">
    </div>
</section>
<section class="month h-full bg-dark sup-p">
    <div class="container flex flex-col justify-center">
        <h2 class="w-100 font-light font-400 main-title">Предложение месяца</h2>
        <div class="flex justify-between align-items-center w-100 font-light">
            <div class="flex flex-col">
                <img src="/static/img/month.png" alt="">
                <div class="bg-light flex flex-col justify-between align-items-start">
                    <h3 class="font-400 font-dark m-1">Тариф “Участник”</h3>
                    <p class="font-200 font-dark m-1 mt-0">10000 запросов в месяц</p>
                </div>
            </div>
            <div class="flex flex-col">
                <img src="/static/img/month.png" alt="">
                <div class="bg-light flex flex-col justify-between align-items-start">
                    <h3 class="font-400 font-dark m-1">Тариф “Уверенный”</h3>
                    <p class="font-200 font-dark m-1 mt-0">100000 запросов в месяц</p>
                </div>
            </div>
            <div class="flex flex-col">
                <img src="/static/img/month.png" alt="">
                <div class="bg-light flex flex-col justify-between align-items-start">
                    <h3 class="font-400 font-dark m-1">Тариф “ВИП”</h3>
                    <p class="font-200 font-dark m-1 mt-0">1000000 запросов в месяц</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}