{% extends "base.html" %}

{% block content %}
<section class="about aero-api h-full">
    <div class="container flex flex-col align-items-start justify-center">
        <div class="w-40">
            <h2 class="font-light font-400">Что мы предлагаем</h2>
            <p class="font-light font-200">AeroAPI (ранее FlightXML) дает возможность разработчикам получать доступ к любым полетным данным огромного количества рейсов через любые приложения с поддержкой REST/JSON.</p>
        </div>
        <img class="bg-img" src="/static/img/aero-api.png" alt="">
    </div>
</section>
{% endblock %}