{% extends "base.html" %}

{% block content %}
<section class="about work-api h-full">
    <div class="container flex flex-col align-items-start justify-center">
        <div class="w-40">
            <h2 class="font-light font-400">За гранью безубыточности</h2>
            <p class="font-light font-200">Как авиакомпании восстанавливаются после глобальной пандемии? Ответ заключается в создании новых и глубоко укоренившихся эффективных решений, основанных на достоверных данных, которые доказывают акционерам и пассажирам, что каждый ресурс распределяется самым разумным образом. По мере того, как глобальный авиатрафик восстанавливается, авиакомпании, осуществляющие более интеллектуальное наземное обслуживание и распределение выходов на посадку на основе прогнозных результатов на основе искусственного интеллекта, будут лидировать в восстановлении. </p>
        </div>
        <img class="bg-img" src="/static/img/work-api.webp" alt="">
    </div>
</section>
{% endblock %}